/* style.css */
/* * {
  margin: 0; 
} */
:root {
  --main-font-color001: rgb(184, 190, 194);
  --main-font-color002: rgb(7, 35, 75);;
  --main-font-color003: honeydew;
  --main-bg-color001: rgb(55, 130, 235);
  --match-003: rebeccapurple;
  --match-001: #000000;    
  --selected-class: rgb(172, 113, 181);
  --selected-classV2: inherited;
  --false-reader: rgb(110, 84, 75);
  --background-colorV3: rgb(250, 250, 250);
  --background-color-redish: #c52fbb;
  --background-color-redish-original: #e91e63;
  --orange-red: orangered;
  --logo-white: #fdf5fb;
  --logo-red: #e41526;
  --logo-blue: #43318a;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}


body {
  height: 100vh;
  background-color: var(--main-bg-color001);
  color: var(--main-font-color002);
  overflow-x: hidden;
  overflow-y: scroll;
}

/* body *{
  padding-left: 20px;
  padding-right: 20px;

} */

header {  
  background-color: var(--main-font-color002);
  color: var(--main-bg-color001);
  height: 8vh;
  align-content: center;

}

nav {
  text-align: center;
}

nav button {
  padding-left: 20px;
  padding-right: 20px;
}
button {
  background-color: var(--main-font-color002);
  color:  var(--main-bg-color001);
  font-weight: 750;
  border: 0;
}
button:hover  {
  background-color: var(--main-bg-color001);
  color: var(--main-font-color002);
  cursor: pointer;
}

#intro, #products, #recipes, #descriptions, #contact{
  margin-bottom: 20px;
}

#intro {
  height:80vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  
}

#intro > div:first-child {
  background-color: var(--background-color-redish);
  text-align: center;
  align-content: center;
}

#intro h1 {
  text-transform: uppercase;
  color: var(--main-font-color002);
  font-size: 3em;
  /* text-align: center; */
}

#intro h2 {
  color: var(--main-font-color002);
  font-size: 2em;
}

#img-and-contact-info {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 3fr;
}

#intro-bottom-left{
  
grid-column-start: 1;
place-self: center;
padding-left: 2%;;
}

#intro-bottom-right {
  grid-column-start: 2;
  padding: 3%;
}

#img-and-contact-info #intro-bottom-left img {
  width: 80%;
}

#img-and-contact-info #intro-bottom-right img {
  width: 25%;
}

#img-and-contact-info #intro-bottom-right img:nth-child(3) {
  width: 5%;
}

#company {
  margin-top: 15vh;
  margin-right: 15vw;
  margin-left: 15vw;
}

#company h3 {
  margin-top: 2vh;
}

#products {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#products h2 {
  margin-bottom: 50px;
}

#products li {
  margin-bottom: 15px;
}

#products li:last-child {
  margin-bottom: 150px;
}

li {
  list-style: none;
}

#recipes li {
    list-style: none;
    border-radius: 25px;
  border: solid 10px;
  margin-bottom: 40px;
  background-color: var(--main-font-color003);
  }

#recipes li p:nth-child(3) {

  margin-bottom: 300px;

}

#recipes {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* #recipes h2, #descriptions h2 {
  visibility: hidden;
} */

#recipes h3 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#recipes p {
  margin-bottom: 20px;
}

@media screen and (min-width: 990px) {
  
  #recipes {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  /* #intro {
    width: 800px;
  } */
}
  